<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/dashboard.css" rel="stylesheet">

  </head>
  <body>
     <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Garde & riz</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Déconnexion</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div th:replace="fragments/menu :: menu"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1>Fiches d'assiduité</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Exporter</button>
              </div>
            </div>
          </div>


          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr style="height:40px">
                  <th></th>
                  <th class="align-middle">Nom</th>
                  <th class="align-middle">Date de début de la période</th>
                </tr>
              </thead>
              <tbody >
                <tr th:each="child : ${children}">
                  <td class="align-middle" style="padding:10px">
                    <img th:src="${child.getImageUrl()}" style="width:80px; height:80px" class="rounded-circle"/>
                  </td>
                  <td class="align-middle" style="padding:10px">
                    <span style="font-weight:bolder" th:text="${child.getFirstname() + ' ' + child.getLastname()}"></span>
                  </td>
                  <td class="align-middle" style="padding:10px">
                    <form th:action="@{/presence/{child_id}(child_id=${child.getId()})}" method="GET">
                      <div class="form-group">
                        <select name="period_start" class="form-control" style="width:auto;">
                          <option  th:value="${{#dates.format(period, 'yyyy-MM-dd')}}" th:each="period : ${periods}" th:text="${{#dates.format(period, 'dd MMM yyyy')}}"></option>
                        </select>
                      </div>
                      <input type="submit" class="btn btn-outline-secondary" value="Obtenir">
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </main>
      </div>
    </div>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
