<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/dashboard.css" rel="stylesheet">

  </head>
  <body>
     <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Garde & riz</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Recherche" aria-label="Recherche">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Déconnexion</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div th:replace="fragments/menu :: menu"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-light">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1>Prise de présence</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Exporter</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                Aujourd'hui
              </button>
            </div>
          </div>


          <div class="card-deck mb-3 text-center">

            <div class="card mb-4 box-shadow" th:each="presence : ${presences}">
              <div class="card-body">

                <form th:action="@{/presence}" method="POST">
                  <input type="hidden" name="state" th:value="${presence.getState()} == 'P' ? 'A' : 'P'"/>
                  <input type="hidden" name="child_id" th:value="${presence.getChild().getId()}"/>
                  <input type="hidden" name="date" th:value="${todayAsString}"/>
                  <a href="#" onclick="this.parentNode.submit()">
                    <img th:src="@{${presence.getChild().getImageUrl()}}" style="width:150px; height:150px" class="rounded-circle"/>
                    <div class="clearfix"></div>
                  </a>

                  <div class="clearfix"></div>
                  <strong class="my-0 font-weight-normal pt-3" >
                    <span th:text="${presence.getChild().getFirstname()}">Prénom</span>
                    <span th:text="${presence.getChild().getLastname()}">Nom</span>
                  </strong>
                </form>
              </div>
                <div class="statePresence">
                  <span th:style="${presence.getState()} == 'P' ? 'display:none' : ''" data-feather="check"></span>
                  <span th:style="${presence.getState()} == 'P' ? '' : 'display:none'" data-feather="x" class="red"></span>
                  <span th:text="${presence.getState()} == 'P' ? 'Absent' : 'Présent'">Présent</span></div>
            </div> <!-- end card-body -->
          </div>

          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Soumettre</button>

        </main>
      </div>
    </div>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
